
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1690px) {
  .anim {
    &__logo {
      transform: translateX(670px) translateY(calc(60vh));
    }
  }
  
  .carrow {
    margin-top: 120px;
  }

  .header {
    &__title {
      font-size: 16px;
    }
  }

  .main-menu {
    max-width: 800px;
    ul {
      li {
        a {
          font-size: 16px;
          min-width: 130px;
        }
      }
    }
  }

  .s {

    &-main {
      // padding: 270px 0;
      &__title {
        font-size: 16px;
      }
    }

    &-work {
      .work {
        &__title {
          font-size: 56px;
        }
        &__block {
          padding: 15px 10px;
        }
        &__img {
          height: 470px;
        }
      }
    }

    &-brif {
      &__title {
        font-size: 140px;
      }
    }

    &-contact {

      &--title {
        margin-bottom: 0;
        padding: 200px 0 100px;
      }
    }

    &-map {
      .button {
        font-size: 20px;
        padding: 20px 40px;
        right: 23%;         
      }
    }
  }
}

@media (max-width: 1450px) {
  .anim {
    &__logo {
      transform: translateX(570px) translateY(calc(60vh));
    }
  }

  .carrow {
    margin-top: 80px;
  }

  .header {
    padding: 30px 0 40px;
    &__title {
      font-size: 14px;
    }
    &__language {
      a {
        padding: 2px 0 2px 3px;
      }
    }
  }

  .main-menu {
    max-width: 650px;
    padding-top: 40px;
    ul {
      li {
        a {
          font-size: 14px;
          min-width: 120px;
        }
      }
    }
  }

  .s {
    &-main {
      padding: 250px 0;
      // &__title {
      //   font-size: 15px;
      // }
    }

    &-work {
      .work {
        &__title {
          font-size: 46px;
        }
        &__text {
          margin-top: 10px;
        }
        &__block {
          padding: 15px 5px;
        }
        &__img {
          height: 400px;
        }
        &__footer {
          bottom: 20px;
          padding: 0 15px;
        }
      }
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  .anim {
    &__logo {
      transform: translateX(480px) translateY(calc(60vh));
    }
  }

  .header {
    &__title {
      font-size: 12px;
    }
    &__main {
      padding: 0;
    }
    &__language {
      margin: 0 10px 0 5px;
      height: 50px;
      a {
        padding: 1px 0 1px 3px;
      }
    }
    .logo {
      img {
        max-width: 80px;
      }
    }
  }

  .anim__logo-img {
    img {      
      max-width: 70px !important;
    }
  }

  .main-menu {
    max-width: 550px;
    padding-top: 25px;
    ul {
      li {
        margin-right: 7px;
        a {
          padding: 3px 10px;
          min-width: 100px;
        }
      }
    }
  }
  
  .s {

    &-main {
      padding: 200px 0 150px;
    }

    &-work {
      .work {
        &__img {
          height: 350px;
        }
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .anim {
    &__logo {
      transform: translateX(360px) translateY(calc(60vh));
    }
  }

  .hamburger {
    display: block;
  }    

  .burger-menu {
    display: block;
  }

  .header {
    max-width: 375px;
    width: 100%;
    height: 100vh;
    background-image: url("../img/main-back.jpg") !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -375px;
    transition: left 0.5s;

    &__aside {
      display: block;
      margin: 0 auto;
    }

    &__language {
      border-left: none;
      text-align: center;
      margin: 15px auto;
      height: auto;
      &--mobile {
        display: block;
        a {
          display: inline;
          padding: 0 2px;
          &:hover, &.active {            
          border-bottom: 1px solid $accent;
          }
        }
      }
    }

    .logo {
      display: block;
      margin: 0 auto;
      text-align: center;
      img {        
        max-width: 100%;
      }
    }

    &__footer {
      display: block;
    }
    &__content {
      flex-direction: column;
      padding-top: 30px;
    }
    
  }

  #trigger1 {
    display: none;
  }

  .anim__stage-1 {
    display: none;
  }

  .anim__main-container {
    display: none !important;
  }

	.main-menu {
    display: block;
    top: 70px;
    left: 0;
    right: 0;
    text-align: left;
    // margin-left: 0;
    margin: 0 auto;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0 0 60px 0;
      text-align: center;

			li {
        margin: 0 0 10px;

        &:last-child {
          margin: 0;
        }
        a {
          color: #fff;
          // font-size: 18px;
        }
			}
		}
  }   
  
  .section {
  }

  .s {

    &-main {
      display: block;
      &__title {
        font-size: 22px;
        margin-top: 20px;
      }
    }

    &-work {
      .work {
        &__img {
          height: 350px;
        }
      }
    }

    &-map {
      padding: 80px 0 50px;
    }

    &-contact {
      .logo {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      &__content {
        margin: 30px auto 0;
        max-width: 600px;
      }
    }

    &-contact--title {
      padding: 110px 0 0;
      .section-title {
        font-size: 200px;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  
  .anim {
    &__logo {
      transform: translateX(270px) translateY(calc(60vh));
    }
  }

  .container {
    padding: 0 15px;
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .s {

    &-main {
      padding: 150px 0 100px;
      &__title {
        font-size: 18px;
      }
      img {
        max-width: 250px;
      }
    }

    &-brif {
      &__title {
        font-size: 100px;
        img {
          max-width: 70px;
        }
      }
    }

    &-contact {
      padding: 200px 0 20px;

      &--bgnone {
        padding: 90px 0 20px;
      }

      &__content {
        flex-direction: column;
        align-items: center;
      }

      &__info {
        margin-top: 30px;
      }

      .contact {
        max-width: none;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
        &:nth-child(2) {
          order: 1;
          margin-bottom: 0;
        }
        &__title {
          color: $accent;
          padding: 0;
          &::before {
            display: none;
          }
        }
        &__text {
          margin-left: 0;
        }
      }
    }

    &-map {
      &__yandex {
        & > ymaps {
        }        
      }
      .map {
        display: none;
        &-mobile {
          display: block;
          display: block; 
          margin: 0 auto;
        }
      }
      .button {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 60px auto 0;
        display: block;
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .anim {
    &__logo {
      transform: translateX(270px) translateY(calc(60vh));
    }
  }

  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .contact-page {
    &__mobile {
      padding: 260px 0 0;
      margin-top: -240px;
    }
  }

  .header {
    .logo {
      width: 120px;
    }
    &__footer {
      &__links {
        margin-bottom: 25px;
      }
    }
  }

  .main-menu {
    ul {
      margin-bottom: 50px;
    }
  }

  .s {

    &-work {
      .work {
        &__img {
          height: 480px;
        }
      }
    }

    &-brif {
      &__title {
        font-size: 70px;
        img {
          max-width: 40px;
          margin-left: 5px;
        }
      }
    }

    &-contact {
      .logo {
        img {          
          max-width: 153px;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}