
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1690px) {
  .s {

    &-main {
      padding: 270px 0;
    }

    &-work {
      .work {
        &__img {
          height: 400px;
        }
      }
    }

    &-brif {
      &__title {
        font-size: 140px;
      }
    }

    &-contact {

      &--title {
        margin-bottom: 0;
        padding: 200px 0 100px;
      }
    }

    &-map {
      .button {
        font-size: 20px;
        padding: 20px 40px;
        right: 23%;         
      }
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  
  .s {
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .burger-menu {
    display: block;
  }

  .header {
    max-width: 375px;
    width: 100%;
    height: 100vh;
    background-image: url("../img/main-back.jpg") !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -375px;
    transition: left 0.5s;

    &__footer {
      display: block;
    }
    &__content {
      flex-direction: column;
    }
    .logo-kdo {
      display: block !important;
    }
    .logo1 {
      display: none;
    }
    .logo2 {
      display: none;
    }
    
  }

	.main-menu {
    display: block;
    top: 70px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0 0 60px 0;
      text-align: center;

			li {
        margin: 0 0 10px;

        &:last-child {
          margin: 0;
        }
        a {
          color: #fff;
          // font-size: 18px;
        }
			}
		}
  }   
  
  .section {
  }

  .s {

    &-work {
      .work {
        &__img {
          height: 350px;
        }
      }
    }

    &-contact {
      .logo {
        display: block;
        margin: 0 auto;
      }
      &__content {
        margin: 30px auto 0;
        max-width: 600px;
      }
    }

    &-contact--title {
      padding: 110px 0 0;
      .section-title {
        font-size: 200px;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {   
  }

  .s {

    &-contact {
      padding: 200px 0 20px;

      &--bgnone {
        padding: 90px 0 20px;
      }

      &__content {
        flex-direction: column;
        align-items: center;
      }

      &__info {
        margin-top: 30px;
      }

      .contact {
        max-width: none;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
        &:nth-child(2) {
          order: 1;
          margin-bottom: 0;
        }
        &__title {
          color: $accent;
          padding: 0;
          &::before {
            display: none;
          }
        }
        &__text {
          margin-left: 0;
        }
      }
    }

    &-resolve {
      padding: 110px 0 80px;
      .section-title {
        font-size: 80px;
      }
      &__text {
        font-size: 14px;
        text-align: center;
      }
    }

    &-map {
      &__yandex {
        & > ymaps {
        }        
      }
      .map {
        display: none;
        &-mobile {
          display: block;
          display: block; 
          margin: 0 auto;
        }
      }
      .button {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 60px auto 0;
        display: block;
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .contact-page {
    &__mobile {
      padding: 260px 0 0;
      margin-top: -240px;
    }
  }

  .header {
    .logo {
      width: 120px;
    }
    &__footer {
      &__links {
        margin-bottom: 25px;
      }
    }
  }

  .main-menu {
    ul {
      margin-bottom: 50px;
    }
  }

  .s {

    &-contact {
      .logo {
        img {          
          max-width: 153px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}